<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spatzle</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="ui secondary pointing inverted menu">
        <a class="item" href="/">
            Spatzle
        </a>
        <div class="right menu">
            <% if(currentUser && currentUser.username === "admin"){ %>
            <a class="item" href="/admin/dashboard">Dashboard</a>
            <% } %>
    
            <% if(!currentUser){ %>
            <a class="item" href="/login">Login</a>
            <a class="item" href="/register">Sign Up</a>
            <% }else{ %>
    
            <a id="nav-username" class="item" href="#">Signed In as <%= currentUser.username %></a>
            <a class="item" href="/logout">Logout</a>
            <% } %>
        </div>
    </div>