<%- include("../partials/header") -%>

<h1>Add Item</h1>

<form action="/items" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Item Name" required>
    <input type="text" name="price" placeholder="Price" required>
    <input type="text" name="description" placeholder="Description" required>
    <select name="category">
        <% foundCats.forEach((category)=>{ %>
        <option value="<%= category.name %>"><%= category.name %></option>
        <% }); %>
    </select>
    <input type="file" name="file" required>
    <br> <br>
    <button class="btn btn-info" type="submit">Add Item to database</button>
</form>

<%- include("../partials/footer") -%>