<%- include("../partials/header") -%>
<h1>you are admin</h1>

<p>you can</p>

<ul>
    <li>add items</li>
    <li>update items</li>
    <li>delete items</li>
    <li>see all items</li>
</ul>

<a class="btn btn-large btn-dark" href="/items">All Items</a>
<br><br><br>
<a class="btn btn-large btn-dark" href="/items/new">Add Item</a>
<br><br><br>
<a class="btn btn-large btn-dark" href="/category/new">Manipulate Categories</a>
<%- include("../partials/footer") -%>