<%- include("../partials/header") -%>

<div class="custom-form">
    <h1>Leave Review for <%= foundItem.name %> </h1>
    <form class="ui form" action="/items/<%= foundItem._id %>/comments" method="post">
        <div class="field">
            <label>Your review</label>
            <textarea name="comment"></textarea>
        </div>
        <button class="ui orange inverted button" type="submit">Submit Review</button>
    </form>
</div>


<%- include("../partials/footer") -%>