<%- include("./partials/header") -%>

<div id="not-found-content">
    <h1>404! Page not found!</h1>
    <a class="ui button" href="/">Go back to Main Page</a>
    <a class="ui button" href="/items">Go back to items</a>

</div>

<%- include("./partials/footer") -%>