<%- include("../partials/header") -%>


<div class="custom-form">
    <h1>Sign In as Admin</h1>
    <form class="ui form" action="/admin/login" method="post">
        <div class="field">
            <label>Admin Username</label>
            <input type="text" name="username" placeholder="Admin Username">
        </div>
        <div class="field">
            <label>Admin Code</label>
            <input type="password" name="password" placeholder="Enter Admin Code">
        </div>
        <button class="ui olive inverted button" type="submit">Sign In</button>
    </form>
</div>

<%- include("../partials/footer") -%>