<%- include("../partials/header") -%>


<div class="custom-form">
    <h1>Login</h1>
    <form class="ui form" action="/login" method="post">
        <div class="field">
            <label>Username</label>
            <input type="text" name="username" placeholder="username">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="password">
        </div>
        <button class="ui olive inverted button" type="submit">Login</button>
    </form>
</div>
<%- include("../partials/footer") -%>